@use '@/styles/variables/colors' as c;

.base {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;

    font-weight: 400;
    line-height: 1.2;
}

.smSize {
    font-size: 1.4rem;
    padding: 0.7rem 1.5rem;
}
.mdSize {
    font-size: 1.6rem;
    padding: 0.7rem 1.5rem;
}
.fullSize {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem 0;
}

.colorWhite {
    color: c.$white;
}
.colorGray {
    color: c.$gray-300;
}
.colorBlack {
    color: c.$black;
}

.bgWhite {
    background-color: c.$white;
}
.bgOrange {
    background-color: c.$orange;
}
.bgGray {
    background-color: c.$gray-100;
}

.smBorder {
    border: 1px solid;
}
.mdBorder {
    border: 2px solid;
}

.borderBlack {
    border-color: c.$gray-200;
}
.borderGray {
    border-color: c.$gray-300;
}
