$white: #fff;

$beige-100: #fefbf2;
$beige-200: #fdf0df;

$yellow-100: #fdfbdf;
$yellow-200: #ffbf02;

$orange: #f98c1e;

$pink: #ffeded;

$red-100: #ff3627;

$gray-100: #f8f7f8;
$gray-200: #c9c9c9;
$gray-300: #747474;

$black: #000;
