@use '@/styles/variables/colors' as c;

.bottomBanner {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem 0;
    margin-top: 10rem;

    color: #fff;
    background-color: c.$orange;

    h2 {
        font-weight: 700;
        font-size: 3.6rem;
    }
    p {
        margin-top: 3rem;

        font-size: 1.6rem;
    }
    button {
        margin-top: 4rem;
    }
}
