@use '@/styles/variables/colors' as c;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 192rem;
    margin: 0 auto;
    padding: 2rem 2.5rem;

    img {
        width: 12rem;
    }
    .headerButtonGroup {
        display: flex;
        align-items: center;
        gap: 2rem;

        a,
        button {
            font-size: 1.2rem;
        }
    }
}

main {
    border-top: 1px solid c.$gray-200;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;

    max-width: 192rem;
    margin: 0 auto;
    padding: 2.5rem 2.5rem;

    font-size: 1.2rem;
    color: c.$gray-300;

    img {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 2rem 5rem;

        img {
            width: 14.5rem;
        }
        .headerButtonGroup {
            display: flex;
            align-items: center;
            gap: 4rem;

            a,
            button {
                font-size: 1.6rem;
            }
        }
    }
    footer {
        justify-content: space-between;

        font-size: 1.6rem;
        padding: 5rem 5rem;

        img {
            display: block;
            width: 14.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 2rem 25rem;

        img {
            width: 16.3rem;
        }
    }
    footer {
        font-size: 1.6rem;
        padding: 5rem 25rem;

        img {
            width: 16.3rem;
        }
    }
}
