.layout {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;

    header {
        grid-area: header;
    }

    aside {
        grid-area: sidebar;
    }

    main {
        grid-area: main;
        padding: 4.5rem 5rem;
    }
}
